*{

}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  margin: 50px auto !important;
}


.form-group{

}

.panel-default {

  padding: 20px;
}


button{

  .link{
    background: none;
    border: none;
    margin: 0;
    padding: 3;

  }
}




.header-image{
  margin-bottom: 0px !important;
}



.white{
  margin-bottom: 0px !important;
  background-color:#ffffff !important;
}


.project-large{

  height: 350px;
  margin: 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.small{
  max-width: calc(50%- 1em)

}


.project-list{
  max-width: 100%;
  margin: 0 auto;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 3.5s ease-in;
}


.overlay-effect:hover{
  box-shadow: 0 0 30px 0 #353535;
}

.overlay-effect{
  display: block;
  box-shadow: 0 0 10px 0 #353535;
  color: #fff !important;
}


.content{
  position: relative;
  padding: 30px;
}


.content-align{
  position: relative;
  top: 50%;
}


a:hover{
  text-decoration: none !important;
}


.screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:hover, &:focus, &:active{
    top: 5px;
    left: 5px;
    z-index: 100000;
    clip: auto !important;
    display: block;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    line-height: normal;
    color: #21759b;
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  }

}


.image-center{
  display: block;
  margin: auto;
  max-width: 100%;
}


.container{

}



.pullquote-inner{
  border-left: solid 5px;
  padding: 0 0 0 30px;
  max-width: 960px;
  margin: 0 auto;
  h2 {
    color: #333333 !important;
  }
}



.page {


}


.SlideIn-appear {
  transform: translate3d(0px,0, -100px), scale(.6) ;
  -webkit-transform: translate3d(0px,0,-100px) scale(.6) ;


  -moz-transform: translate3d(0px,0, -100px), scale(.6) ;
  -o-transform: translate3d(0px,0, -100px), scale(.6) ;
  -ms-transform: translate3d(0px,0, -100px), scale(.6) ;
  opacity: .5;
}

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translate3d(0, 0,0) scale(1) ;
  -webkit-transform: translate3d(0, 0, 0) scale(1) ;

  -moz-transform: translate3d(0, 0,0) scale(1) ;
  -o-transform: translate3d(0, 0,0) scale(1) ;
  -ms-transform: translate3d(0, 0,0) scale(1) ;
  transition: all 0.5s ease;
}


.subheading{
  font-size: 24px;
}

@media (max-width: 767px) {
  .screen-reader-text {
    display: none;
  }
}


.blog-outer-wrap{
  display: flex;
  flex-wrap: wrap;
}

.blog-list-item{
  min-height: 200px;
  max-height: 300px;
  overflow: hidden;
  padding: 20px 0;
}

.blog-list-item-img{
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;

}

.img-hide{
  overflow: hidden;
}

.readMore{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: black;
  z-index: 20;
  height: 50px;
}


.bodyContent{
  padding: 25px 0 0 0;

}


.icon{
  width: 18px;
  height: 18px;
}


nav{
li{

  a{



    &:hover, &:focus, &:active{
      border-bottom: solid #fff;
      outline: none;
    }
  }

}
}


.form-failed{
  border: rgba(255,8,24, 1.0) solid 4px !important;
}

//.underline {
//  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
//  background-repeat: no-repeat;
//  background-size: 100% 0.2em;
//  background-position: 0 88%;
//}
/* transition: background-size 0.25s ease-in; */


.project-overview{
  max-width: 960px;
  margin: 0 auto;

}

.custom-well{
  padding: 19px;
}


.block{
  display: block;
  margin: 0 auto;
}

